<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "/etc/iwatch/iwatch.dtd" >
<config>
    <guard email="myadmin@localhost" name="IWatch"></guard>
    <watchlist>
        <title>Log Directory</title>
        <contactpoint email="webmaster@localhost" name="Web Master"/>
        <path type="single" alert="off" syslog="on" >{{ log_directory }}</path>
    </watchlist>
    <watchlist>
        <title>User Accounts</title>
        <contactpoint email="admin@localhost" name="Administrator"/>
        <path type="single" alert="off" exec="ansible-playbook {{ playbook_absolute_path }} "  events="close_write" syslog="on" filter="shadow|passwd|group">/etc</path>
    </watchlist>
</config>